<header>
    <div class="header">  
        <div class="header__container">
            <div class="header__left">
                <div class="header__logo">
                    <img src="/assets/Logo.svg" alt="Logo">
                </div>
                <nav class="header-nav">
                    <ul class="header-nav__list">
                        <li class="header-nav__item"><a href="#">Главная</a></li>
                        <li class="header-nav__item"><a href="#">О Компании</a></li>
                        <li class="header-nav__item"><a href="#">Каталог</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__right">
                <button class="header__contact">
                    <img src="/assets/Phone.svg" alt="Phone Logo">
                    <span>+7 (965) 084-29-29</span> 
                </button>
                <button class="header__favorites">
                    <img  class="header__heart" src="/assets/heart.svg" alt="Heart Logo">
                </button>
                <button class="header__button">
                    <img src="/assets/basket.svg" alt="Basket Logo">
                    <span>Пусто</span>
                </button>
            </div>
        </div>
    </div>

    <div class="sub-header">
        <div class="sub-header__container">    
            <div class="sub-header__left">
                <button class="sub-header__button">
                    <img src="/assets/menu.svg" alt="">
                </button>
                <nav class="sub-header-nav">
                    <ul class="sub-header-nav__list">
                        <li class="sub-header-nav__item"><a href="#">Каталог</a></li>
                        <li class="sub-header-nav__item"><a href="#">Стройматериалы</a></li>
                        <li class="sub-header-nav__item"><a href="#">Инструменты</a></li>
                        <li class="sub-header-nav__item"><a href="#">Электрика</a></li>
                        <li class="sub-header-nav__item"><a href="#">Интерьер и одежда</a></li>
                    </ul>
                </nav>
            </div>
            <div class="sub-header__right">
                <input class="sub-header__search-input"  type="search" placeholder="Поиск, например Круг зачистной">
                <img class="sub-header__search-line" src="/assets/Line.svg" alt="Line Logo">
                <button class="sub-header__search-button">
                    <img src="/assets/Search.png" alt="Logo">
                </button>
                <div class="sub-header__location">
                    <img src="/assets/map.svg" alt="Logo">
                    <span>Москва</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="main">
        <div class="main-banner">
            <img class="main-banner__image" src="/assets/main-banner.png" alt="main photo">
            <span class="main-banner__text">Инструмент для вашего<br>бизнеса</span>
        </div>

        <section class="features">
            <div class="features container">
                <div class="features__item">
                    <img src="/assets/assortment.png" alt="">
                    <span>Большой ассортимент<br>строительных материалов всегда в<br>наличии</span>
                </div>
                <div class="features__item">
                    <img src="/assets/cargo.png" alt="">
                    <span>Доставка стройматериалов<br>в течении четырех часов или в<br>любое удобное время</span>
                </div>
                <div class="features__item">
                    <img src="/assets/like.png" alt="">
                    <span>Многоуровневая система<br>управления качеством по стандарту<br>ISO 9001</span>
                </div>
            </div>
        </section>
        
        <section class="product">
            <div class="product container">
                <div class="product__pagination">
                    <button class="product__buttons active-button">1</button>
                    <button class="product__buttons">2</button>
                    <button class="product__buttons">3</button>
                    <button class="product__buttons">4</button>
                    <button class="product__buttons">5</button>
                </div>

                <div class="product__grid">
                    <div class="product__grid big">
                        <span class="big-name">Строительный отделочный инструмент</span>
                        <img class="big-image" src="/assets/construction-tools.png" alt="">
                        <button class="big-button">
                            <span class="big-button__text">Перейти в каталог</span>
                            <img src="/assets/Frame.png" alt="">
                        </button>
                    </div>

                    <div class="product__grid small">
                        <div class="small-item"> 
                            <span class="small-name small-name1">Эмали</span>
                            <img class="small-image  small-image1" src="/assets/image14.png" alt="">
                            <button class="small-button small-button1">
                                <span>Перейти в каталог</span>
                                <img src="/assets/Frame.png" alt="">
                            </button>
                        </div>
                        <div class="small-item">
                            <span class="small-name small-name2">Лакокрасочные <br>материалы</span>
                            <img class="small-image  small-image2" src="/assets/image17.png" alt="">
                            <button class="small-button small-button2">
                                <span>Перейти в каталог</span>
                                <img src="/assets/Frame.png" alt="">
                            </button>
                        </div>
                        <div class="small-item">
                            <span class="small-name small-name2">Пены, клеи и<br>герметики</span>
                            <img class="small-image small-image3" src="/assets/image18.png" alt="">
                            <button class="small-button small-button2">
                                <span>Перейти в каталог</span>
                                <img src="/assets/Frame.png" alt="">
                            </button>
                        </div>
                        <div class="small-item">
                            <span class="small-name small-name4">Розетки и выключатели</span>
                            <img class="small-image small-image4" src="/assets/image15.png" alt="">
                            <button class="small-button small-button1">
                                <span>Перейти в каталог</span>
                                <img src="/assets/Frame.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="popular-cart">
            <div class="popular-cart container">
                <div class="popular-cart__content">
                    <span class="popular-cart__text">Популярные товары</span>
                    <button class="popular-cart__button">Посмотреть все товары</button>
                </div>
                <div class="popular-cart__list">
                    <div class="popular-cart__item item--discount">
                        <button class="popular-cart__heart-btn">
                            <img class="popular-cart__heart-image" src="/assets/heart-vector.svg" alt="">
                        </button>
                        <img class="popular-cart__image" src="/assets/image13.png" alt="">
                        <div class="popular-cart__name">Круг зачистной 125х6х22</div>
                        <div class="popular-cart__tag">Артикул 00004</div>
                        <div class="popular-cart__price price">
                            <div class="price-text">Цена за штуку</div>
                            <span class="price-old">52 руб.</span>
                            <span class="price-new">48 руб.</span>
                        </div>
                        <div class="popular-cart__wrapper">
                            <div class="popular-cart__total"> 
                                <span class="popular-cart__count">Количество</span>
                                <div class="popular-cart__summary">
                                    <button class="popular-cart__btn">+</button>
                                    <span class="popular-cart__value">1</span>
                                    <button class="popular-cart__btn">-</button>
                                </div>
                            </div>
                            <div class="popular-cart__basket">
                                <button class="popular-cart__basket-text">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="popular-cart__item item--discount">
                        <button class="popular-cart__heart-btn">
                            <img class="popular-cart__heart-image" src="/assets/heart-vector.svg" alt="">
                        </button>
                        <img class="popular-cart__image" src="/assets/image13.png" alt="">
                        <div class="popular-cart__name">Круг зачистной 125х6х22</div>
                        <div class="popular-cart__tag">Артикул 00004</div>
                        <div class="popular-cart__price price">
                            <div class="price-text">Цена за штуку</div>
                            <span class="price-old">52 руб.</span>
                            <span class="price-new">48 руб.</span>
                        </div>
                        <div class="popular-cart__wrapper">
                            <div class="popular-cart__total"> 
                                <span class="popular-cart__count">Количество</span>
                                <div class="popular-cart__summary">
                                    <button class="popular-cart__btn">+</button>
                                    <span class="popular-cart__value">1</span>
                                    <button class="popular-cart__btn">-</button>
                                </div>
                            </div>
                            <div class="popular-cart__basket">
                                <button class="popular-cart__basket-text">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="popular-cart__item item--new item--discount3">
                        <button class="popular-cart__heart-btn">
                            <img class="popular-cart__heart-image" src="/assets/heart-vector.svg" alt="">
                        </button>
                        <img class="popular-cart__image" src="/assets/image13.png" alt="">
                        <div class="popular-cart__name">Круг зачистной 125х6х22</div>
                        <div class="popular-cart__tag">Артикул 00004</div>
                        <div class="popular-cart__price price">
                            <div class="price-text">Цена за штуку</div>
                            <span class="price-old">52 руб.</span>
                            <span class="price-new">48 руб.</span>
                        </div>
                        <div class="popular-cart__wrapper">
                            <div class="popular-cart__total"> 
                                <span class="popular-cart__count">Количество</span>
                                <div class="popular-cart__summary">
                                    <button class="popular-cart__btn">+</button>
                                    <span class="popular-cart__value">1</span>
                                    <button class="popular-cart__btn">-</button>
                                </div>
                            </div>
                            <div class="popular-cart__basket">
                                <button class="popular-cart__basket-text">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="popular-cart__item item--new">
                        <button class="popular-cart__heart-btn">
                            <img class="popular-cart__heart-image" src="/assets/heart-vector.svg" alt="">
                        </button>
                        <img class="popular-cart__image" src="/assets/image13.png" alt="">
                        <div class="popular-cart__name">Круг зачистной 125х6х22</div>
                        <div class="popular-cart__tag">Артикул 00004</div>
                        <div class="popular-cart__price price">
                            <div class="price-text">Цена за штуку</div>
                            <span class="price-old">52 руб.</span>
                            <span class="price-new">48 руб.</span>
                        </div>
                        <div class="popular-cart__wrapper">
                            <div class="popular-cart__total"> 
                                <span class="popular-cart__count">Количество</span>
                                <div class="popular-cart__summary">
                                    <button class="popular-cart__btn">+</button>
                                    <span class="popular-cart__value">1</span>
                                    <button class="popular-cart__btn">-</button>
                                </div>
                            </div>
                            <div class="popular-cart__basket">
                                <button class="popular-cart__basket-text">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="catalog-banner">
            <div class="catalog-banner__container container ">
                <div class="catalog-banner__wrapper">
                    <span class="catalog-banner__text">Более 10 000 наименований</span>
                    <span class="catalog-banner__content">Инструмент для вашего бизнеса, разнообразных марок</span>   
                    <button class="catalog-banner__btn">Перейти в каталог</button>
                </div>
                <div class="catalog-banner__image">
                    <img src="/assets/pngwing.png" alt="">
                </div>
            </div>
        </section>

        <section class="new-cart">
            <div class="new-cart__container container">
                <div class="new-cart__content">
                   <span class="new-cart__text">Новинки</span>
                   <button class="new-cart__button">Посмотреть все товары</button>
                </div>
                <div class="new-cart__list">
                    <div class="new-cart__item item--new">
                        <button class="new-cart__heart-btn">
                            <img class="new-cart__heart-image" src="/assets/heart-vector.svg" alt="">
                        </button>
                        <img class="new-cart__image" src="/assets/image13.png" alt="">
                        <div class="new-cart__name">Круг зачистной 125х6х22</div>
                        <div class="new-cart__tag">Артикул 00004</div>
                        <div class="new-cart__price price">
                            <div class="price-text">Цена за штуку</div>
                            <span class="price-new">52 руб.</span>
                        </div>
                        <div class="new-cart__wrapper">
                            <div class="new-cart__total"> 
                                <span class="new-cart__count">Количество</span>
                                <div class="new-cart__summary">
                                    <button class="new-cart__btn">+</button>
                                    <span class="new-cart__value">1</span>
                                    <button class="new-cart__btn">-</button>
                                </div>
                            </div>
                            <div class="new-cart__basket">
                                <button class="new-cart__basket-text">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="new-cart__item item--new">
                        <button class="new-cart__heart-btn">
                            <img class="new-cart__heart-image" src="/assets/heart-vector.svg" alt="">
                        </button>
                        <img class="new-cart__image" src="/assets/image13.png" alt="">
                        <div class="new-cart__name">Круг зачистной 125х6х22</div>
                        <div class="new-cart__tag">Артикул 00004</div>
                        <div class="new-cart__price price">
                            <div class="price-text">Цена за штуку</div>
                            <span class="price-new">52 руб.</span>
                        </div>
                        <div class="new-cart__wrapper">
                            <div class="new-cart__total"> 
                                <span class="new-cart__count">Количество</span>
                                <div class="new-cart__summary">
                                    <button class="new-cart__btn">+</button>
                                    <span class="new-cart__value">1</span>
                                    <button class="new-cart__btn">-</button>
                                </div>
                            </div>
                            <div class="new-cart__basket">
                                <button class="new-cart__basket-text">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="new-cart__item item--new">
                        <button class="new-cart__heart-btn">
                            <img class="new-cart__heart-image" src="/assets/heart-vector.svg" alt="">
                        </button>
                        <img class="new-cart__image" src="/assets/image13.png" alt="">
                        <div class="new-cart__name">Круг зачистной 125х6х22</div>
                        <div class="new-cart__tag">Артикул 00004</div>
                        <div class="new-cart__price price">
                            <div class="price-text">Цена за штуку</div>
                            <span class="price-new">52 руб.</span>
                        </div>
                        <div class="new-cart__wrapper">
                            <div class="new-cart__total"> 
                                <span class="new-cart__count">Количество</span>
                                <div class="new-cart__summary">
                                    <button class="new-cart__btn">+</button>
                                    <span class="new-cart__value">1</span>
                                    <button class="new-cart__btn">-</button>
                                </div>
                            </div>
                            <div class="new-cart__basket">
                                <button class="new-cart__basket-text">В корзину</button>
                            </div>
                        </div>
                    </div>
                    <div class="new-cart__item item--new">
                        <button class="new-cart__heart-btn">
                            <img class="new-cart__heart-image" src="/assets/heart-vector.svg" alt="">
                        </button>
                        <img class="new-cart__image" src="/assets/image13.png" alt="">
                        <div class="new-cart__name">Круг зачистной 125х6х22</div>
                        <div class="new-cart__tag">Артикул 00004</div>
                        <div class="new-cart__price price">
                            <div class="price-text">Цена за штуку</div>
                            <span class="price-new">52 руб.</span>
                        </div>
                        <div class="new-cart__wrapper">
                            <div class="new-cart__total"> 
                                <span class="new-cart__count">Количество</span>
                                <div class="new-cart__summary">
                                    <button class="new-cart__btn">+</button>
                                    <span class="new-cart__value">1</span>
                                    <button class="new-cart__btn">-</button>
                                </div>
                            </div>
                            <div class="new-cart__basket">
                                <button class="new-cart__basket-text">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<footer class="footer">
    <div class="footer__container container">
        <div class="footer__wrapper">
            <div class="footer__left"> 
                <div class="footer__logo">
                    <img src="/assets/Logo.svg" alt="Logo">
                </div>
                <div class="footer__contacts">
                    <div class="footer__phone">
                        <div class="footer__phone-inner">
                            <img class="footer__image" src="/assets/call.svg" alt="">
                            <span>Контактный телефон</span>
                        </div>
                        <a class="footer__number" href="tel:+78123090934">+7 (812) 309-09-34</a>
                        <a class="footer__number" href="tel:+78123090909">+7 (812) 309-09-09</a>
                    </div>
                    <div class="footer__mail">
                        <div class="footer__mail-inner">
                            <img class="footer__image" src="/assets/sms.svg" alt="">
                            <span>Электронная почта:</span>
                        </div>
                        <a class="footer__email" href="mailto:tustin78&#64;mail.ru">tustin78&#64;mail.ru</a>
                        <a class="footer__email" href="mailto:info&#64;tustin.ru">info&#64;tustin.ru</a>
                    </div>                    
                </div>
            </div>

            <div class="footer__right">
                <h3 class="footer__questions">Остались вопросы?</h3>
                <span class="footer__text">Узнавайте первым о скидках, предложениях и событиях еженедельно в <br>своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
                <form method="POST" class="footer__form-email">
                    <img class="footer__form-image" src="/assets/sms.svg" alt="">
                    <span class="footer__form-text">Введите свою почту</span>
                    <input type="email" name="email" class="footer__form-input" required>
                    <button class="footer__form-button" type="submit">Отправить</button>
                </form>
            </div>
        </div>
        <div class="footer-social">
            <ul class="footer-social__list">
                <li class="footer-social__item"><a href="#">Главная</a></li>
                <li class="footer-social__item"><a href="#">О Компании</a></li>
                <li class="footer-social__item"><a href="#">Каталог</a></li>
            </ul>
            <ul class="footer-social__icons">
                <li><img src="/assets/facebook.png" alt=""></li>
                <li><img src="/assets/youtube.png" alt=""></li>
                <li><img src="/assets/whatsaap.png" alt=""></li>
            </ul>
            <span class="footer-social__text">© 2021-2022, EDE</span>
        </div>
    </div>
</footer>